.search{
  width: 340px;

  border: 1px solid #222222;
  border-radius: 10px;

  padding: 5px 10px;

  margin-bottom: 20px;

  background-color: #f5f6f7;
}
.search-input{
  width: 300px;

  outline: none;
  border: none;

  background-color: #f5f6f7;
}
