.nav-like{
  padding-left: 0;
  li {
    list-style: none;
    a{
      text-decoration: none;
    }
  }
}

.show-inline-block{
  display: inline-block;
}

.white{
  color: $white;
}
.a-noUnderscore{
  text-decoration: none;
}