// 跟特定组件的布局相关的类

// header
.header{
  margin-bottom: 10px;
}

// nav
.nav{
  vertical-align: top;
}

.newsContainer{
  margin: 0 25px;
}

// news list
.news-information{
  position: relative;
}
.news-footerBox{
  position: absolute;
  bottom: 0;
}
.news-list{
  margin-top: 20px;
}
.news-thumbnail{
  float: left;
}
.news-information{
  float: right;
}